<%- include("./partials/header") %> 
    <title>Not found</title>
</head>

<body>
    <div class="mt-5 text-center font-sans">
        <h1 class="my-5 text-4xl">Page not found</h1>
        <img class="my-5 w-56 max-w-full mx-auto" src="/img/nothing_found.png">
        <a class="my-5 px-5 py-1 text-2xl border-2 border-solid rounded-full border-black" href="/">Go home</a>
    </div>
</body>

<%- include("./partials/footer") %> 